img{
    max-width: 100vw;
    max-height: 70vh;
    border-radius: 30px;
    margin-bottom: 20px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.dance{
    animation-name: danceDanceDance;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes danceDanceDance {
    0% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    25% {
        transform: scale(1.5);
        transform: rotate(90deg);
    }
    50% {
        transform: scale(1);
        transform: rotate(180deg);
    }
    75% {
        transform: scale(1.5);
        transform: rotate(270deg);
    }
    100% {
        transform: scale(1);
        transform: rotate(359deg);
    }

    
}


